html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
 
.form-horizontal .control-group {
    margin-bottom: 10px;
}

#recbuttons {
    margin-bottom: 0px;
}

#recbuttons label.checkbox {
    display: inline-block;
    margin-right: 40px;
}
      
.foursquare {
    width: auto;
    text-align: center;
}

#map-canvas {
	height: 80%;
}
            
#map-canvas img {
    max-width: none;
}
			
#directions-panel {
	height: 80%;
	overflow: auto;
}
			
#gobtn {
    width: 100px;
}

.adp-step, .adp-text {
    padding-left: 26px;
}

#gobtn.ladda-button[data-style=contract][data-loading] {
    width:  32px;
    margin-left: 34px;
}

@media (max-width: 490px) {
    .form-horizontal .control-group {
        margin-left: 12px;
    }
    
    .form-horizontal .control-label {
        width: 80px;
        display: inline-block;
    }

    .form-horizontal .controls {
        display: inline-block;
    }
}